# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\test\keras_Realtime_Multi-Person_Pose_Estimation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
